langchain
langchain_community
langchain_chroma
python-jobspy
langchain-google-genai
langgraph
pdfplumber
lxml_html_clean
newspaper3k
mistune
aiofiles
nest_asyncio
md2pdf
langchain_experimental
MainContentExtractor
requests
bs4
streamlit_chat
duckduckgo_search
python-jobspy